POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_PASSWORD=

JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

MAILSETTINGS_HOST=
MAILSETTINGS_PORT=
MAILSETTINGS_NAME=
MAILSETTINGS_EMAILID=
MAILSETTINGS_USERNAME=
MAILSETTINGS_PASSWORD=
MAILSETTINGS_USESSL=
MAILSETTINGS_USESTARTTLS=

SUPABASE_URL=
SUPABASE_KEY=

REDIS_CONNECTION=

POSTGRES_CONNECTION=