POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_PASSWORD=

JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

MAILSETTING_HOST=
MAILSETTING_PORT=
MAILSETTING_NAME=
MAILSETTING_EMAILID=
MAILSETTING_USERNAME=
MAILSETTING_PASSWORD=
MAILSETTING_USESSL=
MAILSETTING_USESTARTTLS=

SUPABASE_URL=
SUPABASE_KEY=

REDIS_CONNECTION=

POSTGRES_CONNECTION=